body {
/*  background: #fff;*/
  background-image: url("ink.jpeg");
  background-repeat: no-repeat;
  height: 750px;
  /*overflow: hidden;*/
  align-content: center;
}
h1{
  text-align: center;
  padding-bottom: 20px;
}

.ink_blot {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas:last-child {
    transform: scaleX(-1);
  }


#button {
  width: 200px;
  background: none;
  padding-margin: 15px;
  height: 70px;
  border-radius: 8px;
  border: 2px solid #262673;
  color: #262673;
  font-family: inherit;
  font-size: 18px;
  font-style: strong; 
}


