body {
/*  background: #fff;*/
/*  background-image: url("paper.jpg");*/
 /* height: 100vh;*/
  /*overflow: hidden;*/
}

.rorschach {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas {
    -webkit-filter: url(#goo);
    filter: url(#goo);

  }
  
.canvas:last-child {
    transform: scaleX(-1);
  }

.button.outline {
  background: none;
  padding: 12px 22px;
}

.button-primary.outline {
  border: 2px solid #262673;
  color: #262673;
}
svg {
  height: 0;
}

